@use '../../global/colors';

.container-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 9rem;
    color: colors.$preto;
}

.contact {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: colors.$preto;
}

.title-about {
    border-bottom: 3px solid colors.$preto;
    margin-bottom: 1rem;
    padding: 0.5rem;
}