$cinzaclaro: #a9a9a9;
$cinzaescuro: #090c0e;
$preto: #111;
$branco: #f5f5f5;
$azulprimary: #1c2130;
$cianoprimary: #0a1a17;
$cianosecondary: #193b36;
$cinzasecondary: #1A2622;
$azulprimary: #20B2AA;
$azulsecondary: #00BFFF;