$cinzaclaro: #e0e0e0;
$cinzaescuro: #353634;
$preto: #111;
$branco: #f5f5f5;
$azulprimary: #1c2130;
$cianoprimary: #0a1a17;
$cianosecondary: #193b36;
$cinzasecondary: #1A2622;
$azulprimary: #15a2db;
$azulsecondary: #0abaff;