@use '../../global/colors';

.home-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: colors.$preto;
}

.aboutme-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: center;
  position: fixed;
  left: 0;
  margin-top: 5rem;
}

.name {
  color: colors.$branco;
  margin: 1rem;
}

.subtitle {
  color: colors.$branco;
  margin: 0.3rem;
}

.small-paragraph {
  color: colors.$cinzaclaro;
  margin: 1rem;
  text-align: center;
}

.socials {
  display: flex;
  width: 50%;
  align-items: center;
}

.home-components {
  width: 45%;
  float: right;
  margin-top: 4rem;
  margin-right: 7%;
}

.components-list {
  width: 100%;
}