@use '../../global/colors';

.header {
    width: 100%;
    height: 2.5rem;
    background-color: colors.$preto;
    border-bottom: 4px solid colors.$cinzasecondary;
    padding: 0.5rem 0 0.5rem 0;
    position: fixed;
    opacity: 95%;
}

.header-icon{
    margin-left: 5%;
}

@media only screen and (min-width:0px) and (max-width: 480px) {

}

@media only screen and (min-width:480px) and (max-width: 768px) {

}

@media  only screen and (min-width:768px) and (max-width: 1024px) {

}