@use '../../global/colors';

.container-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: colors.$cianoprimary;
    background-image: url('../../global/img/black-thread.png');
}

.container-title {
    display: flex;
    align-items: center;
}

.title-page {
    color: colors.$azulsecondary;
    padding: 0.5rem;
    border-bottom: 2px solid colors.$azulsecondary;
    margin: 2rem;
}

.projects-gh {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 8rem;
    border: 2px solid colors.$preto;
    margin: 0.5rem;
    background-color: colors.$cinzaclaro;
    padding: 1rem;
    border-radius: 0.5rem;
}

.title-project {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: colors.$azulsecondary;
}

.fullname {
    font-size: 0.8rem;
}

.date {
    font-size: 0.6rem;
}

.description-project {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.url {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: colors.$preto;
}

.topic {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: colors.$branco;
    border: 1px solid colors.$cinzaescuro;
}

.language {
    font-size: 1rem;
    color: colors.$cianosecondary;
}