@use '../../global/colors';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    background-color: colors.$cinzaescuro;
    display: flex;
    align-items: center;
    justify-content: center;
}