@use '../../global/colors';

.footer {
    width: 100%;
    height: 4rem;
    background-color: colors.$preto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$cinzaclaro;
}