@use '../../global/colors';

.component-container {
    margin: 3rem;   
}

hr {
    border: none;
    border-top: 2px solid colors.$cinzaclaro;
    width: 2rem;
    margin-bottom: 0.5rem;
}

.component-title {
    color: colors.$branco;
}

.component-description {
    color: colors.$cinzaclaro;
    padding: 1rem;
    text-align: justify;
}

.skills-container {
    padding: 1rem;
    width: 50%;
}

.skills-container img:hover {
    cursor: pointer;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}