@use '../../global/colors';

.component-container {
    margin: 3rem 0 0 3rem;
}

hr {
    border: none;
    border-top: 2px solid colors.$cinzaclaro;
    width: 2rem;
    margin-bottom: 0.5rem;
}

.component-title {
    color: colors.$branco;
    font-size: 1.5rem;
}

.component-description {
    color: colors.$cinzaclaro;
    padding: 1rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.component-description span {
    margin: 0.5rem;
}

.description-local {
    font-weight: 600;
}

.technologies-container {
    padding: 1rem;
    width: 90%;
    flex-wrap: wrap;
}

.technologies-container img {
    padding: 0.5rem;
}

.technologies-container img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.component-left {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
}

.project-container {
    display: flex;
    margin-top: 0.5rem;
}

.folder {
    color: colors.$cinzaclaro;
    border: 1px solid colors.$cinzaclaro;
    border-radius: 45%;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: colors.$cinzaclaro;
}

.project-description {
    width: auto;
    padding: 1rem;
    margin: 1rem;
}

.project-title{
    color: colors.$cinzaclaro;
    font-size: 1.3rem;
    font-weight: 700;
}

.project-language{
    --tw-bg-opacity: 1;
    background-color: rgb(27 85 100/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(59 193 226/var(--tw-text-opacity));
    padding: 0.1rem;
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
    font-weight: 500;
}

.project-url{
    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgb(27 85 100/var(--tw-text-opacity));
    font-weight: 500;
}

.project-url:hover{
    --tw-text-opacity: 1;
    color: rgb(59 193 226/var(--tw-text-opacity));
    cursor: pointer;
}

.project-description:hover {
    background-color: colors.$cinzaescuro;
    border-radius: 0.5rem;
}

.button-projects {
    font-style: normal;
    color: colors.$branco;
    background-color: rgb(27 85 100);
    border: 0px inset #ffffff;
    text-shadow: 0px -1px 1px #222222;
    box-shadow: 4px 4px 2px #000000;
    -moz-box-shadow: 4px 4px 2px #000000;
    -webkit-box-shadow: 4px 4px 2px #000000;
    border-radius: 0px 30px 0px 30px;
    -moz-border-radius: 0px 30px 0px 30px;
    -webkit-border-radius: 0px 30px 0px 30px;
    width: 10rem;
    padding: 0.5rem;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  .button-projects:hover {
    cursor: pointer;
    background-color: rgb(42, 132, 155);
  }